.wrapper{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* Cara lebih baik menggunakan function repeat() */
    /* grid-template-columns : repeat(6, 1fr); */
    /* Bisa digunakan juga untuk nilai yang beragam */
    grid-template-columns: repeat(3, 1fr 3fr);
}


.wrapper div{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.wrapper{
    padding: 8px;
    background-color: antiquewhite;
    border: 1px dashed black;
}